body {
	margin:0;
	padding:0;
}

h1 {
	color: DarkGreen;
	font-family: Impact;
	font-size: 50px;
	margin: 0px;
}

h2 {
	text-decoration: underline;
	font-size: 40px;
	margin: 5px;
	padding-bottom: 1px;
}

div {
	font-weight: bold;
	font-family: Palatino;
	padding-left: 5px;
	margin: 0px;

}

li {
	font-weight: normal;
	font-family: Palatino;
	padding-left: 6px;

}

img {
	border-radius: 50%;
	width: 30%;
	margin: 30px;
}
